/* line 1, style.scss */
header {
  background-color: #333333;
  height: 80px;
  line-height: 80px;
}
/* line 6, style.scss */
header ul li {
  padding: 0 30px;
}
/* line 8, style.scss */
header ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
/* line 12, style.scss */
header ul li a:hover {
  color: #ffd2d2;
}

/* line 19, style.scss */
main {
  margin: 50px 0;
  padding-top: 80px;
}
/* line 22, style.scss */
main .title {
  font-size: 60px;
  font-weight: 600;
  margin: 0 0 50px;
}
/* line 27, style.scss */
main .img {
  text-align: center;
  margin-bottom: 60px;
}
/* line 30, style.scss */
main .img .subtitles {
  font-size: 18px;
  font-weight: 700;
}

/* line 36, style.scss */
footer {
  background-color: #333333;
  padding: 20px 0;
}
/* line 39, style.scss */
footer span {
  margin: 0 20px;
  color: #fff;
}
